*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
.idea/
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
*.hprof
secrets.properties

